* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

nav li {
    cursor: pointer;
    text-shadow: 2px 2px 10px darkgray;
    /* margin: 0 50px; */
}

ul.skills {
    line-height: 2rem;
    justify-content: center;
}

ul.skills li {
    list-style-type: circle;
}
li.list {
    background-color: rgb(217, 254, 254);
    text-align: center;
    display: block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
h4.proficiencies {
    text-align: center;
    text-decoration: underline;
}

.my-5 {
    margin-top: var(--spacing-five);
    margin-bottom: var(--spacing-five);
  }

  .my-2 {
    margin-top: var(--spacing-two);
    margin-bottom: var(--spacing-two);
  }

